In [7]:
import pandas as pd
import numpy as np
a=pd.DataFrame([[3,np.nan],[2,4],[np.nan,6],[1,7]],index=[1,2,3,4],columns=['a','b'])
print(a)

     a    b
1  3.0  NaN
2  2.0  4.0
3  NaN  6.0
4  1.0  7.0

In [28]:
a.loc[4,: ]=None
print(a)

     a    b     2
1  3.0  NaN  None
2  2.0  4.0  None
3  NaN  6.0  None
4  NaN  NaN  None

In [13]:
d=a.mean(skipna='False',axis=1)
print(d)

1    3.0
2    3.0
3    6.0
4    4.0
dtype: float64

In [14]:
d=a.mean(axis=1)
print(d)

1    3.0
2    3.0
3    6.0
4    4.0
dtype: float64

In [21]:
p=a.cumsum()
print(p)

     a     b
1  3.0   NaN
2  5.0   4.0
3  NaN  10.0
4  6.0  17.0

In [22]:
b=a.isnull()
print(b)

       a      b
1  False   True
2  False  False
3   True  False
4  False  False

In [39]:
a=pd.DataFrame([[3,np.nan],[2,4],[np.nan,6],[1,7]],index=[1,2,3,4],columns=['a','b'])
print(a)

     a    b
1  3.0  NaN
2  2.0  4.0
3  NaN  6.0
4  1.0  7.0

In [41]:
a.loc[4,:]=None
print(a)

     a    b
1  3.0  NaN
2  2.0  4.0
3  NaN  6.0
4  NaN  NaN

In [42]:
f=a.dropna()
print(f)

     a    b
2  2.0  4.0

In [44]:
g=a.dropna(how='all')
print(g)

     a    b
1  3.0  NaN
2  2.0  4.0
3  NaN  6.0

In [9]:
import pandas as pd
import numpy as np
a=pd.DataFrame([[3,np.nan],[9,4],[np.nan,2],[1,7]],index=[1,2,3,4],columns=['a','b'])
print(a)
b=a.rank(method='first')
print(b)
pd.readtable

     a    b
1  3.0  NaN
2  9.0  4.0
3  NaN  2.0
4  1.0  7.0
     a    b
1  2.0  NaN
2  3.0  2.0
3  NaN  1.0
4  1.0  3.0

In [18]:
import pandas as pd
import numpy as np
ind=pd.DataFrame({'name':['ip1','ip2','ip3'],'score':[32,64,11]})
pak=pd.DataFrame({'name':['pp1','pp2','pp3'],'score':[98,31,8]})
df1=[ind,pak]
print(df1)
place=['h','y','d']
ind['location']=place
print(ind)
df2=pd.concat(df1)
print(df2)
df3=df2['location'].fillna('updatesoon',inplace=True)
print(df3)

[  name  score
0  ip1     32
1  ip2     64
2  ip3     11,   name  score
0  pp1     98
1  pp2     31
2  pp3      8]
  name  score location
0  ip1     32        h
1  ip2     64        y
2  ip3     11        d
  name  score location
0  ip1     32        h
1  ip2     64        y
2  ip3     11        d
0  pp1     98      NaN
1  pp2     31      NaN
2  pp3      8      NaN
None

In [19]:
df3=df2['location'].fillna('updatesoon',inplace=True)
print(df3)

None

In [20]:
df3=df2['location'].fillna('updatesoon',inplace=False)
print(df3)

0             h
1             y
2             d
0    updatesoon
1    updatesoon
2    updatesoon
Name: location, dtype: object

In [27]:
import pandas as pd
df4=df2.sort_values('location')
print(df4)

  name  score    location
2  ip3     11           d
0  ip1     32           h
0  pp1     98  updatesoon
1  pp2     31  updatesoon
2  pp3      8  updatesoon
1  ip2     64           y